/slideit-env
/env
/venv

model/*
!/model/config.py
!/model/__init__.py
!/model/pipeline.py

*/__pycache__
package-lock.json

.env

marp
marp.exe

output/
output.md
output.pdf
output.mp4

credential.json
token.json